<div> <%=link_to "Page d'accueil", root_path, class: "btn btn-primary" %> </div>

<h1>LISTE DES DÉMÉNAGEMENTS</h1>

<ul>
<% @demenagements.each do |demenagement| %>
  <li>
    <%= demenagement.adresse_depart %> <br> <div>
    <%= demenagement.type_logegement_depart %> <br>
    <%= demenagement.etage_depart %> <br>
    <%= demenagement.ascenceur_depart %> <br>
    <%= demenagement.adresse_arrivee %> <br>
    <%= demenagement.type_logement_arrivee %> <br>
    <%= demenagement.etage_arrivee %> <br>
    <%= demenagement.ascenceur_arrivee %> <br>
    <%= demenagement.distance %> <br>
    <%= demenagement.volume %> <br>
    <%= demenagement.commentaire %> <br>
    <%=link_to "Détail", demenagement_path(demenagement), class: "btn btn-primary" %> </div>
    <div> <%=link_to "Modifier", edit_demenagement_path(demenagement), class: "btn btn-danger" %></div>
  </li>
  <%end%>
</ul>

